%h1 Sign up

- if @user.errors.any?
  %div.errors
    %ul
      - @user.errors.full_messages.each do |error|
        %li= error

= form_for @user do |f|
  = f.label :firstname, 'First Name'
  = f.text_field :firstname
  = f.label :lastname, 'Last Name'
  = f.text_field :lastname
  = f.label :email
  = f.email_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit 'Sign up'
