%h1= @book.title

%p= @book.description
%p= "Author: #{@book.author.full_name}"
%p= "Category: #{@book.category}"
%p= "Stock: #{@book.stock}"
%p= "Price: #{number_to_currency(@book.price)}"

- if signed_in? && current_user.is_admin?
  %p= link_to 'Edit', edit_book_path(@book)
  %p= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }
