%h1= @category.title

%ul.list-unstyled
  - @books.each do |book|
    %li.row.entry
      %h3= link_to book.title, book_path(book)
      %div= book.description
      %div.price_line
        %span.price= number_to_currency(book.price)
        = button_to 'Add to Cart', order_items_path(book_id: book),
          class: 'btn btn-success btn-sm'

Order Items
= current_order.order_items.each { |oi| oi }

